@charset "utf-8";

*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html { height: 100%; overflow: auto; background: #fff; color: #505050; }

body {
  position: relative;
  margin: 0 auto;
  max-width: 800px;
  min-height: 100%;
  outline: 1px solid #dadada;
  overflow: auto;
  padding: 0 25px;
  font: 62.5% Lato, "Gill Sans", "Trebuchet MS", Calibri, Tahoma, Verdana, sans-serif;
  text-shadow: 0 0 1px rgba(16, 16, 16, 0.1);
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-stroke: 1px rgba(16, 16, 16, 0.1);
  zoom: 1;
}

a { outline: none; color: #002d36; /* 0, 45, 54 */ text-decoration: none; }

a:hover { color: #888; }

.error { color: pink; }

[role=main] {
  font-size: 1rem;
}

[role=main] h1 { font-weight: normal; }

[role=main] input {
  margin: 5px 5px 0;
}

[role=contentinfo] {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #888;
  font-size: 1rem;
  font-variant: small-caps;
  letter-spacing: 0.1rem;
  text-align: center;
}

[role=contentinfo] a:hover { color: #111; }
